{% extends 'base.html' %}

{% block content %}
    <h1>{{appName}} Page</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

    <h5>Pacil-Storage mempunyai total: </h5>
    <p>{{totalAmount}} products</p>

    <table style="border-spacing: 0; border-color: black; border-style: solid; border-width: 1px;" >
        <tr>
            <th style="border-color: black; border-style: solid; padding: 0.5rem; border-width: 1px;">Name</th>
            <th style="border-color: black; border-style: solid; padding: 0.5rem; border-width: 1px;">Amount</th>
            <th style="border-color: black; border-style: solid; padding: 0.5rem; border-width: 1px;">Description</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for product in products %}
            <tr>
                <td style="border-color: black; border-style: solid; padding: 0.5rem; border-width: 1px;">{{product.name}}</td>
                <td style="border-color: black; border-style: solid; padding: 0.5rem; border-width: 1px;">{{product.amount}}</td>
                <td style="border-color: black; border-style: solid; padding: 0.5rem; border-width: 1px;">{{product.description}}</td>
            </tr>
        {% endfor %}
    </table>

    <br />

    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>
    
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

    <h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}